<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Honest Axie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">Home</span></a>
        <a class="nav-item nav-link" href="/allscholars">Scholars</a>
        <a class="nav-item nav-link" href="/compactList">Compact List</a>
        <a class="nav-item nav-link" href="/newscholar">New Scholar</a>
        <a class="nav-item nav-link" href="/tools">Tools</a>
        <a class="nav-item nav-link" href="/gallery">Gallery</a>
        <a class="nav-item nav-link" href="/changePassword">Change Pass</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-light btn-sm">Log Out</button>
        </form>
        </div>
    </div>
</nav>