<div class="container" >  
    <form id="scholar" action="/save" method="post" enctype="multipart/form-data" >
      <h3>New scholar form</h3>
      <!-- Select manager -->
      <label for="manager">Select Manager</label>
      <div class="select">
        <select name="manager" id="manager" form="scholar">    
          <option value="1">Mathias</option>
          <option value="2">Martin</option>
          <span class="focus"></span>
        </select>
      </div>
      <fieldset>
        <input placeholder="Username" name="username" id="username" type="text" tabindex="1" class="form-control" id="floatingInputValue" placeholder="name@example.com" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Account" name="account" id="account" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="E-mail" name="email" id="email" type="email" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Scholars Ronin Address" name="scholar_ronin" id="scholar_ronin" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input placeholder="Account Ronin Address" name="manager_ronin" id="manager_ronin" type="text" tabindex="4" required>
      </fieldset>
      <!-- Start date -->
      <fieldset>
        <label for="start_date">Start date</label>
        <input placeholder="start_date" id="start_date" name="start_date" type="date" tabindex="5" required> 
      </fieldset>
      <!-- Picture -->
      <fieldset>
        <input placeholder="picture" id="picture" name="picture" type="file" tabindex="6" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Note..." name="note" id="note" tabindex="7" required></textarea>
      </fieldset>
      <fieldset>
        <input placeholder="QR Expiry" id="qr_expiry" name="qr_expiry" type="text" tabindex="8" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="scholar">Create Scholar</button>
      </fieldset>
    </form>
  </div>