<div class="table-responsive-xxl">
    <table class="table table-striped" id="listTable" >
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">last_month_earning</th>
                <th scope="col">Manager</th>
            </tr>
        </thead>
        <tbody>
            <% scholarRankingsListLastMonth.forEach(scholar => { %>
                <tr>
                    <td>#<%= scholarRankingsListLastMonth.indexOf(scholar) + 1 %></td>
                    <td><%= scholar.username %></td>
                    <td><%= scholar.last_month_earning %></td>
                    <% if (scholar.manager_idmanager === 1) { %>
                        <td><b style="color: rgb(6, 6, 255);">Mathias</b></td>
                    <%} else if(scholar.manager_idmanager === 2) { %>
                         <td><b style="color: rgb(151, 0, 0);">Martin</b></td>
                    <%} else if(scholar.manager_idmanager === 3){ %>
                        <td><b style="color: rgb(13, 206, 61);">Caspar</b></td>
                    <%} else { %>
                            <td><b style="color: rgb(13, 206, 196);">Thomas</b></td>
                    <% } %>
 
                </tr>
            <% }) %>
        </tbody>
    </table>
