<!DOCTYPE html>
<html lang="en">
    <%- include ("./include/head") %>
    <body style="background-image: url(bb.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form name="loginForm" action="/login" method="POST" class="box">
                            <h1>Honest Axie Login</h1>
                            <p class="text-muted"> Please enter your login and password!</p> 
                            <input type="text" id="username" name="username" placeholder="Username"> 
                            <input type="password" id="password" name="password" placeholder="Password"> 
                            <% if (messages.error) { %>
                               <p style="color: red;"><%= messages.error %></p> 
                            <% } %>
                            <input type="submit" name="" value="Login">                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("./include/scripts") %>
    </body>
</html>
<!-- <a href="/register">Register</a>
<a href="/changePassword" style="color: chocolate;">Reset Password</a> -->
