<!DOCTYPE html>
<html lang="en">
    <%- include ("./include/head") %>
    <body>
        <%- include ("./include/nav") %>
        <div class="container">
            <div class="row">
                <br>
            </div>

            <div class="row">
                <!-- <p style="height:300px;">Content Here...</p> -->
               <p>Hello, as announced earlier today we will stop sending QR codes to you. From now on you will just login to the Axie website with your username and password to get the QR code yourself
                <br>
                Username: <br>
                Password: <br>
                <br>
                Remember the password is case sensitive. (Do not change the password!) <br>
                Do not share your username or password with anyone else. <br>
                <br>
                But still only keep to one device! or Axie Infinity will ban the account</p><br>
                <img src="/tools/breedingCost.png" alt="" style="max-width: 350px; border: 1px solid black;">
                <a href="https://axie.substack.com/p/axie-breeding-guide">Breeding guide link</a>
                <img src="/tools/breedingFamily.png" alt="" style="max-width: 350px; border: 1px solid black;">
                <img src="/tools/classTypes.png" alt="" style="border: 1px; border: 1px solid black;">
                <img src="/tools/counterCycle.png" alt="" style="border: 1px">

            </div>
        </div>

        <%- include ("./include/scripts") %>
        <%- include ("./include/footer") %>
    </body>
</html>
